.div1 {
    display: flex;
    background-color:aqua;
    width: 50%;
}
.div2 {
    display: flex;
    background-color: aquamarine;
    width: 50%;
}
.mergerdiv {
    display: flex;
    background-color: rgb(225, 200, 190);
    width: 100%;
}

@font-face {
    font-family: danger;
    src: url(/style/fonts/dangernight.otf);
}

p {
    font-family: danger;
}