body {
    font-family:'Courier New', Courier, monospace;
}

header {
    max-width: 100%;
    margin: auto;
    background-color: rgb(19, 187, 131);
    height: 460px;
    color: white;
    border-radius: 10px;
}
nav {
    overflow: hidden;
    background-color: aquamarine;
    position: relative;
}
#pageLinks {
    display: none;
}
nav a {
float: left;
color: white;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
nav .icon {
    float: right;
    display: block;
}
nav a:hover {
    background-color: rgb(16, 170, 150);
    color: black;
}
.active {
    background-color: rgb(7, 115, 79);
}