form {
  background-color: aquamarine;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;

}
.wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    text-align: center;
    width: 30%;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(3, 158, 158);
}
#username {
    padding: 10px;
    border-radius: 5px;
}
#password {
    padding: 10px;
    border-radius: 5px;
}
#submit {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(13, 159, 221);
    color: white;
}