#button {
    background: rgb(168, 46, 212);
    color: #fff;
    /* padding: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;

    /* margin: 20px; */
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    
}
@font-face {
    font-family: branda;
    src: url("/style/fonts/Branda-yolq.ttf");
    
}
@font-face {
    font-family: nick;
    src: url("/style/fonts/nick.ttf");
}
.paraghraph1 {
    font-family: nick;
    font-weight: bold;
}
.paragraph2 {

}
body {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
    text-decoration:underline green;
    
}
img {
    width: 160px;
    height: 120px;
    position: relative;
    left: 110px;
    bottom: 20px;
    right: 70px;
    top: 200px;
}