header nav a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:30px;
    background-color: rgb(231, 198, 174);
    font-size: 16px;

}
header nav {
    justify-content: center;
    text-align: center;
    padding: 30px;
    background-color: brown;
    border-radius: 40px;
}
header nav a:hover {
    color: red;
    transform: scale(1.7);
}
.quickLinks a {
    display: block;
    text-decoration: none;
    margin-top: 10px;
}
.copyright {
    display: flex;
    justify-content: center;
    
}
.social a {
    text-decoration: none;
    display:block;
    margin-top: 10px;
   
}
footer {
    display: flex;
}
.quickLinks {
 margin-right: 500px;
 background-color: rgb(0,255,136);
 padding: 10px 10px 10px 10px;
 border-radius: ;
}
.footercontent {
display: flex;
justify-content: space-between;
}
.social {
position: absolute;
right: 10px;
background-color: rgb(0,200,255);
padding:0 10px 0 10px;
margin-top: 10px;
border-radius: 5px;
align-items: center;
display: grid;
}
section {
    display:flex;
    justify-content: center;
    
}
.dividerline {
    display: flex;
    justify-content: center;
    padding: 1px;
    background-color: rgb(24 ,41 , 32);
    border-radius: 20px;
    margin-top: 10px;
    width: 100%;
}
p {
    color:olivedrab;
}
/* mobile mode */
@media (max-width: 480px) {
    .nava {
        font-size: 12px;
    }
    header nav a:hover {
        font-size: 16px;
    }
    section {
        display: block;
    }
    p {
        color: aqua;
    }
    .footercontent {
        display: block;
    }
    body {
        background-color: blue;
    }
}
/* tablet mode */
@media (min-width: 481px) and (max-width: 768px) {
    body {
        background-color:brown ;    }
}
/* dekstop mode */
@media (min-width: 1025px) and (max-width:1200px){
body { background-color: purple
    ;
    
}
}