.p1 {
font-size: var(--globalFontSize);
color: var(--myFavouriteColor);
}
.p2 {
font-size: var(--globalFontSize);
color: var(--myFavouriteColor);
}
.p3{
font-size: var(--globalFontSize);
color: var(--myFavouriteColor);
}

:root{
    --globalFontSize:24px;
    --myFavouriteColor:rgb(4, 139, 201);
}
.p1::first-line{
    font-size: 48px;
    color: forestgreen;
}
.p1::first-letter {
    color: blue;
}
.p2::before {
    content: 'here we go ';
    font-size: var(--globalFontSize);
    color: #ff0000;
}
.p3::after {
    content: ' Here we go!';
    font-size: var(--globalFontSize);
    color: #00ff59;
}
.p3::selection {
    background-color: grey;
    color: #ffffff;
}
::marker {
    font-size: var(--globalFontSize);
    color: #ff0000;
}