.grid-container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    padding: 15px;
    background-color:mediumseagreen;
    column-gap: 10px; vertikalurad
    row-gap: 10px; horizontal
}
.grid-item {
    background-color: rgb(255, 255, 255, 0.8);
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.grid-container1 > div {
    background-color: blueviolet;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    border: 1px solid white;
}
.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 15px;
    background-color: blue;
    gap: 15px;
}
.item1 {
    /* grid-column-start:1; vertokalurad
    grid-column-end:3; */
    grid-row-start: 1;
    grid-row-end: 3;  
}
