.square {
    width: 200px;
    height: 100px;
    background-color: rgb(140, 140, 195);
    animation-name: SquareColorChange;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.square:hover {
    
}
/* @keyframes SquareColorChange {
    from {background-color: rgb(140, 140, 195);}
    to {background-color: yellow;}
    
} */
@keyframes SquareColorChange {
    0% {background-color: rgb(140, 140, 195);}
    25% {background-color: blue;}
    40% {background-color: aqua;}
    60% {background-color: brown;}
    80% {background-color: antiquewhite;}
    100% {background-color: rgb(110, 200, 195);}
    
}
.imgtransform {
    background-color:aqua;
}
.imgtransform img{
    width: 360px;
    height: 200px;
    margin-top: 100px;
    transform: translateX(40px);
    transform: translateY(30px);
    box-shadow: 20px 40px 50px;
}