.container input {
    width: 50%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;

}
.container button {
    width: 20%;
    padding: 10px;
    background-color: #4caf50;
    border: 0;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Open sans','sans-serif';
}
.container button:hover {
    background: #45a09b;
    transition: background 2s,color 1s;
    color: blue;
}
.container {
   display: flex;
   justify-content: center;
   align-items:center;
   height: 400px;
   background-color: aquamarine;
}
.timingfunction {
    width: 100px;
    height: 100px;
    background: #4caf50;
    transition: width 3s;
    
}
.timingfunction:hover {
    width: 1000px;
}
#linereffect {
    transition-timing-function: linear ;
}
#easeeffect {
    transition-timing-function: ease;
}
#easeineffect {
    transition-timing-function: ease-in;
}
#easeouteffect {
    transition-timing-function: ease-out;
}
#easeinout {
    transition-timing-function: ease-in-out ;
}