body {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/009/335/976/original/crumpled-wrinkled-sheet-of-paper-background-texture-stop-motion-animation-seamless-looping-free-video.jpg);
}

.header {
    display: flex;
    width: 100%;
}
.block-left {
    width: 33%;
    height: 800px;
   
}
.block-left ol {
    font-size: 20px;
    font-weight: bold;
}
.block-middle {
    width: 33%;
    height: 800px;
    text-align: center;
    
}
.block-right {
    width: 33%;
    height: 800px;
}

#p-middle {
    text-align: center;
    font-family: ;
}
#middle-image1 {
    width: 450px;
    text-align: center;
    border-radius: 15%;
    /* შემეძლო block-middle-დან დამეცენტრებინა პ-მიდლი და მიდლი-იმეიჯი,თუმცა რახან ცალკე დააკონკრეტე რომ ცალკე პ არის დასაცენტრი და ცალკე იმეიჯი მაგიტომაც ცალკე გავაკეთე :DD */
    
}
.p1,.p2 {
    font-size: medium;
}


@font-face {
    font-family:drip001;;
    src: url(/homework4/styles/drip001.ttf);
}
h1 {
    margin-left: 50%;
    margin-top: 30px;
    font-family: drip001;
}


#right-img1,#right-img2,#right-img3 {
    width: 150px;
    padding: 20px;

}
ul {
    margin-left: 100px;
}
input {
    margin:10px;
}
#button {
    background-color: rgb(65, 28, 28);
    color: white;
    
}
.buttondiv {
    margin-top: -300px;

    /* arvici ramdenad gamosadegia,tumca cotati button-i cota avwie zemot skrolva rom ar ikos sachiro :)) */
}

.block-left p {
    font-size: 15px;
    font-weight: bold;
}

#right-img1 , #right-img2 , #right-img3 {
    border-radius: 40%;
}