h3 {
    text-align: center;
}

#relativePosition {
    position: relative;
    /* top: 150px; */
    /* left: 50px;
    right: 50px; */
    width: 300px;
    height: 300px;
}
.div1 {
    display: flex; 
    justify-content: center;
   
}

#StaticExample {
position: relative;
width: 300px;
height: 150px;

}
#StaticExample1 {
    position: relative;
    width: 300px;
height: 150px;
    
    }
    #StaticExample2 {
        position: relative;
        width: 300px;
height: 150px;
        
        }
        #StaticExample3 {
            position: static;
            width: 300px;
height: 150px;
            }
    .fixedPosition img {
        width: 64px;
        height: 64px;
        display: block  ;
    }

.fixedPosition {
    position: fixed;
    top: 50px;
}

.nav1 {
    background-color: aqua;
    padding: 10px;
    display: flex;
    justify-self:center;
    position: sticky;
    top: 10px;
    border-radius: 25%;
}
nav a {
    text-decoration: none;
    margin-right: 20px;
    color: rgb(5, 102, 102);


    
}
nav a:hover {
    color: beige;
    text-decoration: underline;
}


.absoluteExample {
    padding: 80px;
    background-color: bisque;
    position: absolute;
    
}