.transformProperty img {
    width: 400px;
    height: 300px;
    margin: 50px;
}
.transformProperty {
    margin: 20px;
}

#img1 {
    transform: rotate(10deg);
}
#img2 {
    transform: skewX(20deg);
    transform: skewY(20deg);
}
#img3 {
    transform: scale(1.5);
}